@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.projects {
    &__title {
        margin-top: 5%;
        margin-bottom: 2%;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        line-height: 35px;
        text-transform: uppercase;
    }
    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__cards {
        width: 30%;
    }
    &__img {
        width: 330px;
        height: 248.29px;
        margin: 0 auto;
    }
    &__subtitle {
        font-family: 'Roboto Slab', serif;
        padding: 15px 0;
    }
    span {
        color: #ADADAD;
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
    }
    &__text {
        font-size: 14px;
        line-height: 28px;
        color: #5C5C5C;
        padding: 10px 0;
    }
}